<section class="container-fluid p-5  text-center text-white bg-info">
    <div class="container row m-auto">
        <div class="col-md-4 p-2">
            <div>
                <h3>LOCATION</h3>
                <h5>2215 John Daniel Drive</h5>
                <h5>Clark, MO 65243</h5>
            </div>
        </div>
        <div class="col-md-4 p-2">
            <div>
                <h3>AROUND THE WEB</h3>
                <div _ngcontent-nlx-c21="" class=" d-flex justify-content-center">
                    <i _ngcontent-nlx-c21="" class="fa fa-facebook mx-lg-2 icon"></i>
                    <i _ngcontent-nlx-c21="" class="fa fa-twitter mx-lg-2 icon"></i>
                    <i _ngcontent-nlx-c21="" class="fa fa-linkedin mx-lg-2 icon"></i>
                    <i _ngcontent-nlx-c21="" class="fa fa-globe mx-lg-2 icon"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4 p-2">
            <div>
                <h3>ABOUT FREELANCER</h3>
                <h6>Freelance is a free to use, licensed</h6>
                <h6>Bootstrap theme created by Route</h6>
            </div>
        </div>
        

    </div>

</section>
<section class="container-fluid p-3 text-center text-white bg-black">
    <h4>Copyright © Your Website 2021</h4>
</section>