<nav class="position-fixed top-0 end-0 start-0 navbar navbar-expand-lg bg-info">
    <div class="container-fluid">
      <div id="Connav">
        <div class="">
            <a class="navbar-brand fa-2x  " routerLinkActive="text-danger"  routerLink="Home" >START FREAMWORK</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link rounded-4" routerLinkActive="bg-black text-white" routerLink="About">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link rounded-4" routerLinkActive="bg-black text-white" routerLink="Portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link rounded-4" routerLinkActive="bg-black text-white" routerLink="Contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>